html, body
{
   height: 100%;
}
div#space
{
   width: 1px;
   height: 50%;
   margin-bottom: -499px;
   float:left
}
div#container
{
   width: 994px;
   height: 998px;
   margin: 0 auto;
   position: relative;
   clear: left;
}
body
{
   background-color: #E9E9CE;
   background-image: url(images/index_bkgrnd.png);
   background-repeat: repeat-x;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#SlideShow1 .image
{
   border-width: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Accordion1
{
   width: 100%;
   height: 100%;
}
#wb_Accordion1 .ui-helper-reset
{
   line-height: normal !important;
   font-size: 1em !important;
}
#Accordion1 .ui-accordion-header
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px !important;
   font-style: normal;
   padding: 10px 10px 10px 10px;
   text-align: left;
}
#Accordion1 h3
{
   display: block;
   margin: 0;
}
#Accordion1 .ui-accordion-header .ui-icon
{
   padding-right: 4px;
}
#Accordion1 .ui-accordion-content
{
   padding: 0;
   position: relative;
}
#Accordion1, #Accordion1 > .ui-corner-all, #Accordion1 > .ui-corner-top
{
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
}
#Accordion1 .ui-corner-all, #Accordion1 .ui-corner-bottom
{
   border-bottom-right-radius: 6px;
   border-bottom-left-radius: 6px;
}
#wb_Accordion1
{
   margin: 0;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#PhotoGallery1
{
   box-sizing: border-box;
   font-size: 0;
   width: 100%;
   height: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#PhotoGallery1 .thumbnails
{
   margin: 0;
}
#PhotoGallery1 .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   float: left;
   padding: 3px 3px 3px 3px;
   width: 50%;
   text-align: center;
   vertical-align: top;
}
#PhotoGallery1 .thumbnail img
{
   border: 0px #000000 solid;
   display: block;
   width: 100%;
   height: auto;
   max-width: 100%;
   box-sizing: border-box;
}
#PhotoGallery1 .clearfix:before,
#PhotoGallery1 .clearfix:after,
#PhotoGallery1 .thumbnails:before,
#PhotoGallery1 .thumbnails:after
{
   display: table;
   content: " ";
}
#PhotoGallery1 .clearfix:after,
#PhotoGallery1 .thumbnails:after
{
   clear: both;
}
#PhotoGallery1 .visible-col3
{
   display: none;
}
